<div class="rules-terms-headings">
    <h3>Privacy Policy</h3>

    <p>At Fantasy Capital we are committed to protecting the privacy of our visitors while they participate in contests and access the products and services on the Fantasy Capital website (the “Site”). We want you to understand what information we collect about you, how we collect it and how that information is used. You agree that your use of the Site signifies your acceptance of this Privacy Policy. If you do not consent to the terms of this Privacy Policy, please do not use this Site.</p>

    <h4>1. Information Collected</h4>

    <p>We collect two types of information from you: (1) information that you voluntarily provide to us through our voluntary registration process, and (2) information that is derived through automated tracking mechanisms.</p>

    <h4>1.1. Voluntary Information</h4>
    <p>In order to fully access this Site, you must first create an account by completing the registration process, during which we will collect personal information about you. This information may include your name, address, email address, and other information. We may also collect your contact information or additional information if you choose to use other features of the Site, including:</p>
    <p>(i) participating in contests for cash prizes,</p>
    <p>(ii) promotions or events,</p>
    <p>(iii) withdrawing funds from your account,</p>
    <p>(iv) and other features that the Site may offer.</p>

    <h4>1.2. Cookies</h4>
    <p>This Site uses "cookies" and other tracking technologies to enable us to serve secure pages to our users without asking them to sign in repeatedly. Our third-party advertisers may also place or recognize a unique cookie on your browser. Most web browsers allow you to control cookies, including whether or not to accept them and how to remove them. You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser. Please note that if you choose to erase or block your cookies, you will need to re-enter your original login name and password to gain access to certain parts of the Site.</p>

    <h4>2. How We Use Your Information</h4>

    <p>Your personal information will not be sold or otherwise transferred to unaffiliated third parties for any purposes other than to deliver services on behalf of the Site, unless required by law. Your personally identifiable information is used by the Site, and our affiliates, to provide you with a more enjoyable, customized experience and to help us provide information, products or services that may be of interest to you. We use your personally identifiable information to support and enhance your use of the Site and its features, including but not limited to, notifying you that you have won a contest or contacting you regarding matters relevant to your use of the Site.</p>

    <p>The Site may use your personal information for advertising purposes based on region, gender, interests, goals, habits, etc. We may permit certain trusted third parties to track usage, analyze data such as the source address that a page request is coming from, your IP address or domain name, the date and time of the page request, the referring website, and other parameters in the URL. This information is collected in order to better understand usage of the Site and enhance its performance. To the extent that the information collected is non-identifying or aggregate information, we may use such information for any purpose.</p>

    <p>The Site may disclose your contact information in certain cases where we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be violating our Terms or this Privacy Policy or may be causing injury or interference with our rights, property, our customers or anyone who could be harmed by such activities.</p>

    <p>The Site is not liable or responsible for any personally identifiable or other information that you choose to submit to publicly accessible areas of the Site.</p>

    <h4>3. How We Protect Your Information</h4>

    <p>We are committed to protecting the information we receive from you. We take appropriate security measures to protect your information against unauthorized access to or unauthorized alteration, disclosure or destruction of data. To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we maintain appropriate physical, electronic, and managerial procedures to safeguard and secure the information and data stored on our system. While no computer system is completely secure, we believe the measures we have implemented are above industry standards.</p>

    <h4>4. Advertising</h4>

    <p>Advertisements may be delivered to you by the Site. Our advertisers may use cookies to recognize your computer or compile information about your interaction with their advertisements. The Site does not have access to or control of the cookies that may be placed by third party advertisers.</p> 

    <h4>5. Accessing and Updating Your Personal Information</h4>

    <p>We provide mechanisms for updating your personal information for many of our services. You may modify or remove any of your personal information at any time by logging in and editing or removing your account.</p>

    <h4>6. Email Choice/Opt-out</h4>

    <p>If you no longer wish to receive updates or notifications you may opt-out of receiving these communications by changing your email notification settings. Please allow up to 10 business days for us to process your request. If you still receive unwanted email communications please contact us.</p>

    <h4>7. Children's Privacy and Parental Controls</h4>

    <p>We do not solicit any personal information from children. If you are not 18 years old or older, you are not authorized to use the Site. Parents should be aware that there are parental control tools available online that can be used to prevent children from submitting information online without parental permission or from accessing material that is harmful to minors.</p>

    <h4>8. Disclaimer to Security</h4>

    <p>By consenting to this Privacy Policy, you acknowledge that no data transmission over the internet is completely secure. We cannot guarantee or warrant the security of any information you provide to us and you transmit such information to us at your own risk.</p>

    <h4>9. Notification of Changes</h4>

    <p>Fantasy Capital reserves the right to change this Privacy Policy from time to time at its sole discretion. If changes are made to this Privacy Policy, your continued use of the Site indicates your consent to the Privacy Policy as posted.</p>

    <h4>10. Contact Information</h4>

    <p>If you have any questions or concerns regarding this Privacy Policy please contact:</p>

    <p>Fantasy Capital Inc<br>
    175 Varick St<br>
    New York, NY 10014</p>
</div>