<script type="text/template" id="scorecard-template">
    <div class="scorecardHeader">
        <!-- entry view will go here -->
    </div>
    <div class="clearfix"></div>
    <!--Score Card-->
    <div class="mylineup-spots">
        <div class="scorecard2">
            <table class="scorecardTable" cellpadding="10" cellspacing="10">
                <tbody class="scorecardBody">
                    <!-- player view will go here -->
                </tbody>
            </table>
        </div>
    </div>

</script>
