/ Promotion Area
.articles
    .msg = Visit fitogramplus
    .description = Quality contents giving an honest opinion on fitness and health
    .contents
        .row
            .col
                .item
            .col
                .item
                .item
        .row
            .item
            .item
            .item
    .plaintexts
        .row
            .msg = fitogram - der einfachste Zugang Zu Fitness, Wellness
        .row
            .col = abcd
            .col = abcd





