/ Footer Area of the page
.footer
    .msg-section
        %div fit
        %div ogram
    .footer-menu
    .providers-social
        .provider
        .social-icons
            .facebook
            .twitter
            .googleplus
            .tumblr
            .youtube
            .podcast
    .cities
    .copyrights