/ Promotion Area
.map
    .googlemap
    .cities
        .findmsg
        .bigcities
            .bigcity
            .bigcity
        .smallcities
            .row1
                .smallcity
                .smallcity
                .smallcity

            .row2
                .smallcity
                .smallcity
                .smallcity
