/ News Letter section
.newsletter
    .msg = Bleib in Veribindung
    .description = Spannende Neuigkeiten und Veroffentlichungen erwarten Dich
    .newsletter-section
        .box
        .signup
    .socialicons
        .facebook
        .twitter
        .googleplus
    .uparrow
