/ Promotion Area
.promotion
    .row
        .col
            .details
                .msg = It's Spring. Have you trained outside?
                .promo_place = Outdoor training in Berlin.
        .col
    .row
        .col
        .col




