<div class="container">
    <div class="row wrapper wrapper-content padding-top-70">
        <div class="col-sm-12 title-progress">
            <div class="col-sm-offset-4 col-sm-4 progress porgress-custom no-padding margin-top-20" title="85% Completed">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                </div>
            </div>
            <h1 class="col-sm-offset-4 col-sm-4">New hire intake</h1>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <div class="col-sm-12 ibox ibox-custom text-left">
                <div class="col-sm-12 ibox-content">
                    <form class="m-t" role="form" ng-submit="vm.done()">
                        <p>Ready to work. Please provide your SSN to setup your payment profile.</p>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Social security" ng-model="vm.ssn" required="">
                        </div>
                        
                        <p>
                            <i class="fa fa-check"> </i> Information is safe & secure
                        </p>
                        <p>
                            <i class="fa fa-check"> </i> No credit check
                        </p>
                        <p>
                            <i class="fa fa-check"> </i> Remains private - never shared
                        </p>

                        <div class="form-group text-center no-margin">
                            <div class="col-sm-6">
                                <a ui-sref="signup.verify_code" class="btn btn-lg btn-default btn-block btn-custom-block margin-top-10">Back</a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-lg btn-success btn-block btn-custom-block margin-top-10">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>