<div class="rules-terms-headings">
    <h3>Terms of Use</h3>

    <p>Welcome to Fantasy Capital! We maintain this website to host one-day fantasy sports leagues for cash prizes. These Terms of Use ("Terms") govern your use of our website (the “Site”), products and services. Please read these Terms carefully. By accessing our Site, you agree to be bound by these Terms and by our Privacy Policy.</p>

    <h4>1. Who Can Use Fantasy Capital</h4>

    <p>You may access this Site only if you are a natural person who can form a binding contract with Fantasy Capital and if you agree to these Terms and meet the eligibility requirements listed below:</p>
    <ul>
        <li>You are at least 18 years old.</li>
        <li>You are a citizen of the United States or Canada.</li>
        <li>You physically reside in the United States or Canada and you meet the local eligibility requirements for your jurisdiction.</li>
        <li>You are not a resident of Arizona, Iowa, Louisiana, Montana, Washington, Quebec, Canada, or any other jurisdiction that prohibits the participation in the contests or services on our Site.</li>
        <li>You are not associated with an athlete or team featured on Fantasy Capital in a way that creates an unfair contest advantage.</li>
    </ul>
    <h4>2. Creating An Account</h4>

    <p>Each person may create one Fantasy Capital account. Creating a Fantasy Capital account will allow you to login to the Site and gain access to additional features such as our paid contests, leaderboard and special promotions. Registration will require you to provide personal information including your name, age, location, email, password and login name. You must provide us with accurate and complete information when creating your account. Failure to do so shall constitute a breach of these Terms, which may result in termination of your account.</p>

    <p>It is your responsibility to maintain your account and keep it secure. You agree that Fantasy Capital is authorized to comply with instructions received by your account, but is not obligated to, and may deny access or block any transaction made through the use of your login name and password without notice if we believe your account is being used by someone other than you.</p>

    <p>If you feel that your account security has been compromised please contact us immediately.</p>

    <h4>3. Participating in Contests</h4>

    <p>Fantasy Capital features contests of skill that take place over the course of a day or week. Each contest has a set of rules and the winners are determined by earning points based on the performance of individual athletes across multiple sporting events. Contests may have different entry fees and different prizes. Contest winners will be posted to the Site the following day and their account will be credited for the prizes won. For each contest, winners are determined by the individuals who use their skill and knowledge of relevant professional sports information and fantasy sports rules to accumulate the most fantasy points.</p>

    <p>Contest participants may be disqualified in the sole discretion of Fantasy Capital for any reason that we deem unfair, unethical, improper, or otherwise in violation of these Terms. In such cases we may refuse to award points, suspend a user’s account, or take any other action that we feel is appropriate.</p>

    <h4>4. Acceptable Usage</h4>

    <p>Fantasy Capital seeks to provide a fun and entertaining environment for our users. We reserve the right, but are not obligated, to monitor your use of our Site and remove any user content that we believe violates these Terms or our Privacy Policy.</p>

    <p>Specifically, when using the Site you agree:</p>
    <ul>
        <li>Not to use our Site for any form of gambling.</li>
        <li>Not to post any user content that contains any information that is illegal, fraudulent, false, misleading, deceptive, sexually explicit, hateful, violent, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, libelous, threatening, profane, or otherwise objectionable;</li>
        <li>Not to use our Site in a way that creates a risk of harm, injury, emotional distress, death, disability, or physical or mental illness to any person or entity;</li>
        <li>Not to use our Site in a way that infringes on the intellectual property rights of Fantasy Capital, or any other person or entity;</li>
        <li>Not to access, tamper with, hack, or use non-public areas of our Site or computer systems, including taking any measures to avoid, bypass, remove, deactivate, impair, or otherwise circumvent any technological measure implemented by Fantasy Capital to protect our Site;</li>
        <li>Not to access, scrape, upload, or download user content through the use of any engine, software, tool, agent, device, mechanism, automated scripts, spiders, robots, crawlers, data mining tools, or any other software;</li>
        <li>Not to send any unsolicited or unauthorized spam and spam comments on posts, advertising messages, promotional materials, email, junk mail, chain letters or other form of solicitation;</li>
        <li>Not to use our Site for any commercial purpose or the benefit of any third party, except as otherwise explicitly permitted by these Terms;</li>
        <li>Not to decompile, disassemble or reverse engineer any of our software or Site;</li>
        <li>Not to interfere with, or attempt to interfere with, the access of any user, host or network, including, but not limited to, sending a virus, overloading, flooding, or spamming;</li>
        <li>Not to collect or store any personally identifiable information from our Site or from other users without express permission;</li>
        <li>Not to violate our Terms or any other applicable law or regulation, and not to encourage or enable any other individual to violate our Terms or to do any of the activities prohibited in these Terms.</li>
    </ul>
    <h4>5. User Content</h4>

    <p>You acknowledge that (i) you own and are solely responsible for the content that you post, (ii) that the content is accurate, (iii) that use of the content you supply does not violate these Terms, (iv) that the content will not cause injury to any person or entity, and (v) that you will indemnify Fantasy Capital and its affiliates for all claims resulting from content you supply.</p>

    <p>You grant Fantasy Capital a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, store, display, reproduce, modify, create derivative works from, perform, and distribute your user content for the purposes of operating, developing, providing, and using our Site. Nothing in these Terms shall restrict our legal rights to user content. We reserve the right to remove or modify user content for any reason, including user content that we believe violates these Terms.</p>

    <h4>6. Our License to You</h4>

    <p>Fantasy Capital grants you a limited, non-exclusive, non-transferable, revocable license to use our Site in accordance with these Terms and our Privacy Policy. We may permanently or temporarily terminate or suspend a user’s account without notice for any reason, including if, in our sole determination, a user violates any provision of these Terms, or for no reason at all.</p>

    <h4>7. Privacy Policy</h4>

    <p>For information about our policies and practices regarding the collection and use of your personal information please read our Privacy Policy. Fantasy Capital’s Privacy Policy is part of these Terms, therefore, by using our Site you also agree to our Privacy Policy.</p>

    <h4>8. Intellectual Property</h4>

    <p>The materials on this Site, as well as the organization and layout of this Site, are copyrighted and are protected by United States and international copyright laws and treaty provisions. You may access, download and print materials on this Site solely for your personal and non-commercial use. Any print out of this Site, or portions of the Site, must include Fantasy Capital’s copyright notice.</p>

    <p>No right, title or interest in any of the materials contained on this Site is transferred to you as a result of accessing, downloading or printing such materials. You may not copy, modify, distribute, transmit, display, reproduce, publish, license any part of this Site, create derivative works from, frame in another website, use on any other website, transfer or sell any information obtained from this Site without the prior written permission of Fantasy Capital.</p>

    <p>Fantasy Capital respects the trademarks rights of others and expects our users to do the same. The policy of Fantasy Capital is to terminate the accounts of repeat trademark offenders. If you believe that your work has been copied in a way that constitutes trademark infringement please contact us.</p>

    <h4>9. Copyright Policy and DMCA Takedown Requests</h4>

    <p>Fantasy Capital respects the copyright rights of others and expects users of our Site to do the same. We will respond to notices of alleged copyright infringement that are properly provided to us. If you believe that your intellectual property has been copied in a way that constitutes copyright infringement, please provide us with the following information:</p>

    <p>(i) A physical or electronic signature of the copyright owner or a person authorized to act on their behalf;</p>

    <p>(ii) Identification of the copyrighted work claimed to have been infringed;</p>

    <p>(iii) Identification of the material that is claimed to be infringing and that is to be removed, and information reasonably sufficient to permit us to locate the material;</p>

    <p>(iv) Your contact information, including your address, telephone number, and an email address;</p>

    <p>(v) A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</p>

    <p>(vi) A statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>

    <p>We reserve the right to remove content alleged to be infringing without prior notice, in our sole discretion. In appropriate circumstances, Fantasy Capital may also terminate a user’s account. If you would like to file a copyright complaint please contact us with “DMCA Takedown Request” in the subject line.</p>

    <h4>10. Third-Party Links, Websites and Services</h4>

    <p>Our Site contains links, services and other materials that are not owned or controlled by Fantasy Capital. We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from this Site, you do so at your own risk and you agree that Fantasy Capital will have no liability arising from your use of or access to any third-party website, service, or content.</p>

    <h4>11. Disclaimers</h4>

    <p>FANTASY CAPITAL SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.</p>

    <p>This Site is provided on an "as is" basis without warranty of any kind, whether express or implied. Our Site is controlled and operated from the State of New York in the United States, and we make no representations that it is appropriate or available for use in other locations.</p>

    <p>Fantasy Capital takes no responsibility and assumes no liability for any user content that you or any other user or third party posts or transmits using our Site. You understand and agree that you may be exposed to user content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose.</p>

    <p>Fantasy Capital is not sponsored, endorsed, or associated in any way with the sports leagues, teams, or players featured on our Site.</p>

    <h4>12. Limitation of Liability</h4>

    <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, FANTASY CAPITAL SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE PRODUCTS; (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCTS, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL FANTASY CAPITAL'S AGGREGATE LIABILITY EXCEED ONE HUNDRED U.S. DOLLARS (U.S. $100.00).</p>

    <h4>13. Indemnity</h4>

    <p>You agree to indemnify and hold harmless Fantasy Capital and its officers, directors, employees and agents, from and against any claims, lawsuits, proceedings, disputes, demands, liabilities, damages, losses, costs and expenses, including, without limitation, reasonable legal and accounting fees including costs of defense of claims, suits or proceedings brought by third parties, in any way related to (i) your access to or use of our Site, (ii) your user content, or (iii) your breach of any of these Terms.</p>

    <h4>14. Governing Law and Jurisdiction</h4>

    <p>These Terms shall be governed by the laws of the State of New York, without respect to its conflict of laws principles. You agree to submit to the personal jurisdiction of a state court located in New York or a United States District Court located in New York, for any actions not subject to Section 15 (Arbitration).</p>

    <h4>15. Arbitration</h4>

    <p>For any dispute you may have with Fantasy Capital, you agree to first contact us and attempt to resolve the dispute with us informally. If Fantasy Capital is not able to resolve the dispute with you informally, we each agree to resolve any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or relating to these Terms by binding arbitration by the American Arbitration Association ("AAA") under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes then in effect for the AAA, except as provided herein. Unless you and Fantasy Capital agree otherwise, the arbitration will be conducted in New York County in the state of New York. Each party will be responsible for paying any AAA filing, administrative and arbitrator fees in accordance with AAA rules.</p>

    <p>The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys' fees and reasonable costs for expert and other witnesses, and any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section shall prevent either party from seeking injunctive or other equitable relief from the courts for matters related to data security, intellectual property or unauthorized access to our Products.</p> 

    <p>All claims must be brought in the parties' individual capacity, and not as a plaintiff or class member in any purported class, class action, or representative proceeding. Unless we agree otherwise, the arbitrator may not consolidate more than one person's claims. You agree that, by entering into these Terms, you are waiving the right to a jury trial and the right to participate in a class action.</p>

    <h4>16. Statute of Limitations</h4>

    <p>You agree that regardless of any statute or law to the contrary, any claim arising out of your use of our Site or these Terms must be filed within one (1) year after such claim arose.</p>

    <h4>17. Separate Agreements</h4>

    <p>You may have other agreements with Fantasy Capital in addition to these Terms. These Terms of Use do not modify, revise or amend the terms of any other agreements you may have with Fantasy Capital.</p>

    <h4>18. Users Disputes</h4>

    <p>You are solely responsible for your interactions with other Users. Fantasy Capital reserves the right, but has no obligation, to monitor disputes between you and other users.</p>

    <h4>19. Taxation</h4>

    <p>All taxes associated with winning a contest or receipt of a prize is the sole responsibility of the winner. Fantasy Capital may contact you to provide your social security number or other personal information for tax purposes.</p>

    <h4>20. Notification of Changes</h4>

    <p>Fantasy Capital reserves the right to change these Terms from time to time at its sole discretion. If changes are made to these Terms, your continued use of the Site indicates your consent to the Terms as posted.</p>

    <h4>21. Contact Information</h4>

    <p>If you have any questions or concerns regarding these Terms please contact:</p>

    <p>Fantasy Capital Inc<br>
    175 Varick St<br>
    New York, NY 10014</p>
</div>