html, body {
  height: 100%;
}
body{
    font-size: 20px;
}
.btn-info{
    font-size: 20px;
}

.wrap{
    min-height: 100%;
    padding-bottom: 200px;
}
footer{
	color: #333;
	text-align: center;
	padding: 1em 0em;
	margin: 0em 0;
	border-top: 1px solid #ddd;
        position: relative;
        margin-top: -200px; /* negative value of footer height */
        height: 150px;
        clear:both;
        padding-top:20px;
} 

button a {
	color: #fff;
	font-size: 16px;
}

.description-3{
   height: 90px;
}

