<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="landing" style="display:inline-block;"><img src="img/landing/jobbi_logo_w.png" alt="JobbiJob" class="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="signup.all">Signup / Join</a></li>
                    <li><a href="#">Jobbi Seekers</a></li>
                    <li><a href="#" class="outline-white-sm">Employers</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- BEGIN INTRO SECTION -->
<section id="carousel-block">
    <div class="carousel slide">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item carousel-item-one active">
                <div class="center-block">
                    <div class="center-block-wrap">
                        <div class="center-block-body">
                            <h3 class="margin-top-40 animate-delay carousel-title-v1 fadeInDown animated">
                                Start Working Immediately.
                            </h3>
                            <p class="margin-bottom-60 animate-delay carousel-title-v3 animated fadeInDown">
                                Your local job search starts and ends with us.
                            </p>
                            <a href="#" class="animate-delay btn btn-lg btn-success btn-custom-lg animated fadeInUp">Browse Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END INTRO SECTION -->

<!-- START FEATURED SECTION -->
<section class="container featured">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Featured Employers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="job-spotlight">
                <div class="job-spotlight-featured-img">
                    <a href="#" rel="bookmark">
                        <img src="img/landing/featured1.png" alt="Featured Employers" sizes="(max-width: 720px) 100vw, 720px" height="350" width="720">
                    </a>
                </div>
                <div class="job-spotlight-content">
                    <p class="job-spotlight-title"><a href="#" rel="bookmark">Sign Walker</a></p>
                    <div class="job-spotlight-actions">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="job_listing-location">New York</span>
                        <span class="job-type full-time">Full Time</span>
                    </div>
                    <p>Company Description Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="job-spotlight">
                <div class="job-spotlight-featured-img">
                    <a href="#" rel="bookmark">
                        <img src="img/landing/featured2.png" alt="Featured Employers" sizes="(max-width: 720px) 100vw, 720px" height="350" width="720">
                    </a>
                </div>
                <div class="job-spotlight-content">
                    <p class="job-spotlight-title"><a href="#" rel="bookmark">Head Chef</a></p>
                    <div class="job-spotlight-actions">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="job_listing-location">Orlando</span>
                        <span class="job-type part-time">Part Time</span>
                    </div>
                    <p>Company Description Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="job-spotlight">
                <div class="job-spotlight-featured-img">
                    <a href="#" rel="bookmark">
                        <img src="img/landing/featured3.png" alt="Featured Employers" sizes="(max-width: 720px) 100vw, 720px" height="350" width="720">
                    </a>
                </div>
                <div class="job-spotlight-content">
                    <p class="job-spotlight-title"><a href="#" rel="bookmark">Sales Person</a></p>
                    <div class="job-spotlight-actions">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="job_listing-location">New York</span>
                        <span class="job-type full-time">Full Time</span>
                    </div>
                    <p>Company Description Company is a 2016 Iowa City-born start-up that develops consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURED SECTION -->

<!-- Message block BEGIN -->
<div class="message-block">
    <div class="valign-center-elem">
        <div class="center-block">
            <div class="center-block-wrap">
                <div class="center-block-body">
                    <h3 class="margin-top-40 title-v1 wow fadeInDown">
                        Start Working Immediately.
                    </h3>
                    <p class="margin-bottom-80 title-v3 wow fadeInDown">
                        Your local job search starts and ends with us.
                    </p>
                    <a href="#" class="btn btn-lg btn-success btn-custom-lg wow fadeInUp">Browse Jobs</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Message block END -->

<!-- START FEATURES SECTION -->
<section class="features">
    <div class="container">
        <div class="row features-block">
            <div class="col-md-6 col-lg-6 text-left wow fadeInLeft">
                <img src="img/landing/phone.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6 col-lg-5 features-text wow fadeInRight">
                <h1>
                    Browse hundreds of local jobs near you
                </h1>
                <p>
                    Search, find and apply for jobs directly on your mobile device or desktop. Manage all of the jobs you have applied to from a convenience secure dashboard.
                </p>
                <a href="#" class="btn btn-lg btn-success btn-custom-lg">Browse Jobs</a>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES SECTION -->

<!-- START FEATURES SECTION -->
<section class="features">
    <div class="container">
        <div class="row features-block">
            <div class="col-md-6 col-lg-offset-1 col-lg-5 features-text wow fadeInLeft">
                <h1>
                    Browse hundreds of local jobs near you
                </h1>
                <p>
                    Search, find and apply for jobs directly on your mobile device or desktop. Manage all of the jobs you have applied to from a convenience secure dashboard.
                </p>
                <a href="#" class="btn btn-lg btn-success btn-custom-lg">Browse Jobs</a>
            </div>
            <div class="col-md-6 col-lg-6 text-left wow fadeInRight">
                <img src="img/landing/match.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES SECTION -->

<!-- START FEATURES SECTION -->
<section class="features">
    <div class="container">
        <div class="row features-block">
            <div class="col-md-6 col-lg-6 text-left wow fadeInLeft">
                <img src="img/landing/phone.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-6 col-lg-5 features-text wow fadeInRight">
                <h1>
                    Browse hundreds of local jobs near you
                </h1>
                <p>
                    Search, find and apply for jobs directly on your mobile device or desktop. Manage all of the jobs you have applied to from a convenience secure dashboard.
                </p>
                <a href="#" class="btn btn-lg btn-success btn-custom-lg">Browse Jobs</a>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES SECTION -->

<!-- START CONTACT SECTION -->
<section class="gray-section contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <img src="img/landing/jobbi_logo_g.png" class="img-responsive" />
                        <br><br>
                        Job Searching Just Got Easy. Use jobbiJob to run a hiring site and earn money in the process!
                    </div>
                </aside>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <aside class="widget">
                    <h3 class="widget-title">Site Map</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Candidate Dashboard</a></li>
                        <li><a href="#">Companies</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <aside class="widget widget_recent_entries">
                    <h3 class="widget-title">Recent News Articles</h3>
                    <ul>
                        <li>
                            <a href="#">Canada adds 12,500 jobs in modest July rebound</a>
                            <span class="post-date">April 10, 2016</span>
                        </li>
                        <li>
                            <a href="#">Outsourcing vs. In-House Digital Marketing: Choosing What is Best for a Small Business</a>
                            <span class="post-date">April 6, 2016</span>
                        </li>
                        <li>
                            <a href="#">Canadian Video Game Production Soars 50% In One Year, And Is Catching Up To Film, TV</a>
                            <span class="post-date">April 1, 2016</span>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <aside id="text-2" class="widget widget_text">
                    <h3 class="widget-title">jobbiJob Offices</h3>
                    <div class="textwidget">
                        jobbiJob Inc.
                        555 Madison Avenue, Suite F-2
                        Manhattan, New York 10282
                        <br><br>
                        jobbiJob Inc Canada.
                        545 Younge St, Suite 11
                        Toronto, Ontario M4K 6F4
                    </div>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 copyright">
                <div class="site-info">
                    © 2016 JobbiJob — All Rights Reserved
                </div>
                <div class="footer-social">
                    <a href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                    <a href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
                    <a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a>
                    <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT SECTION -->

<!-- START GO2TOP BUTTON -->
<a href="#carousel-block" class="go2top page-scroll"><i class="fa fa-arrow-up"></i></a>
<!-- END GO2TOP BUTTON -->

<!-- Local script for menu handle -->
<!-- It can be also directive -->
<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });

        // Activate WOW.js plugin for animation on scroll
        new WOW().init();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();
    })();

    var handleGo2Top = (function () {
        var Go2TopOperation = function(){
            var CurrentWindowPosition = $(window).scrollTop();// current vertical position
            if (CurrentWindowPosition > 300) {
                $(".go2top").show();
            } else {
                $(".go2top").hide();
            }
        };

        Go2TopOperation();// call headerFix() when the page was loaded
        if (navigator.userAgent.match(/iPhone|iPad|iPod/i)) {
            $(window).bind("touchend touchcancel touchleave", function(e){
                Go2TopOperation();
            });
        } else {
            $(window).scroll(function() {
                Go2TopOperation();
            });
        }
    })();
</script>