@font-face {
	font-family: 'Museo500';
	src: url('/fonts/fe/Museo500.eot');
	src: url('/fonts/fe/Museo500.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/Museo500.woff') format('woff'),
		url('/fonts/fe/Museo500.ttf') format('truetype'),
		url('/fonts/fe/Museo500.svg#Museo500') format('svg')
}

@font-face {
	font-family: 'Museo_Slab500';
	src: url('/fonts/Museo_Slab_500_2-webfont.eot');
	src: url('/fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
		url('/fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
		url('/fonts/Museo_Slab_500_2-webfont.svg#Museo_Slab500') format('svg')
}

@font-face {
	font-family: 'MuseoSans500';
	src: url('/fonts/fe/MuseoSans500.eot');
	src: url('/fonts/fe/MuseoSans500.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/MuseoSans500.woff') format('woff'),
		url('/fonts/fe/MuseoSans500.ttf') format('truetype'),
		url('/fonts/fe/MuseoSans500.svg#MuseoSans500') format('svg')
}
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/fe/OpenSans.eot');
	src: url('/fonts/fe/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/OpenSans.woff') format('woff'),
		url('/fonts/fe/OpenSans.ttf') format('truetype'),
		url('/fonts/fe/OpenSans.svg#OpenSans') format('svg')
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('/fonts/fe/OpenSansLight.eot');
	src: url('/fonts/fe/OpenSansLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/OpenSansLight.woff') format('woff'),
		url('/fonts/fe/OpenSansLight.ttf') format('truetype'),
		url('/fonts/fe/OpenSansLight.svg#OpenSansLight') format('svg')
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('/fonts/fe/OpenSansSemibold.eot');
	src: url('/fonts/fe/OpenSansSemibold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/OpenSansSemibold.woff') format('woff'),
		url('/fonts/fe/OpenSansSemibold.ttf') format('truetype'),
		url('/fonts/fe/OpenSansSemibold.svg#OpenSansSemibold') format('svg')
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('/fonts/fe/OpenSansBold.eot');
	src: url('/fonts/fe/OpenSansBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/OpenSansBold.woff') format('woff'),
		url('/fonts/fe/OpenSansBold.ttf') format('truetype'),
		url('/fonts/fe/OpenSansBold.svg#OpenSansBold') format('svg')
}
@font-face {
	font-family: 'OpenSansExtrabold';
	src: url('/fonts/fe/OpenSansExtrabold.eot');
	src: url('/fonts/fe/OpenSansExtrabold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/OpenSansExtrabold.woff') format('woff'),
		url('/fonts/fe/OpenSansExtrabold.ttf') format('truetype'),
		url('/fonts/fe/OpenSansExtrabold.svg#OpenSansExtrabold') format('svg')
}

@font-face {
	font-family: 'PacificoRegular';
	src: url('/fonts/fe/PacificoRegular.eot');
	src: url('/fonts/fe/PacificoRegular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/PacificoRegular.woff') format('woff'),
		url('/fonts/fe/PacificoRegular.ttf') format('truetype'),
		url('/fonts/fe/PacificoRegular.svg#PacificoRegular') format('svg')
}
@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/fe/Ubuntu.eot');
	src: url('/fonts/fe/Ubuntu.eot?#iefix') format('embedded-opentype'),
		url('/fonts/fe/Ubuntu.woff') format('woff'),
		url('/fonts/fe/Ubuntu.ttf') format('truetype'),
		url('/fonts/fe/Ubuntu.svg#Ubuntu') format('svg')
}
