@font-face {
    font-family: Angilla-Tattoo;
    src: url(../fonts/prints/AngillaTattoo.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/prints/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Book-Shelves;
    src: url(../fonts/prints/book_shelves.ttf);
}

@font-face {
    font-family: Dear-Lovely;
    src: url(../fonts/prints/dear_lovely.ttf);
}

@font-face {
    font-family: Krinkes-Regular;
    src: url(../fonts/prints/KrinkesRegular.ttf);
}

@font-face {
    font-family: Morning-Sunshine;
    src: url(../fonts/prints/morning_sunshine.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../fonts/prints/Oswald-Bold.ttf);
}

@font-face {
    font-family: Southern-Aire;
    src: url(../fonts/prints/SouthernAire.ttf);
}

@font-face {
    font-family: Black-Jack;
    src: url(../fonts/prints/black_jack.ttf);
}

@font-face {
    font-family: Capture-it;
    src: url(../fonts/prints/Capture_it.ttf);
}

@font-face {
    font-family: Cac-Champagne;
    src: url(../fonts/prints/cac_champagne.ttf);
}

@font-face {
    font-family: Ostrich-Bold;
    src: url(../fonts/prints/ostrich-bold.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/prints/Pacifico.ttf);
}

@font-face {
    font-family: Seasrn;
    src: url(../fonts/prints/SEASRN__.ttf);
}

@font-face {
    font-family: Tangerine-Bold;
    src: url(../fonts/prints/Tangerine_Bold.ttf);
}

@font-face {
    font-family: Windsong;
    src: url(../fonts/prints/Windsong.ttf);
}
