<h2>LEADERS</h2>
<div class="leaderboard-filter">
  <div class="row">
    <div class="col-md-12">
      <div class="filter-container">
        <ul class="list-inline filtercheckbox">
          <li> Filter by :</li>
          <li>
            <input id="chkSport" type="checkbox" name="chkSport" value="">
            <label for="sport">Sports</label>
          </li>
          <li>
            <input id="chkMonthlyleaders" type="checkbox" name="chkMonthlyleaders" value="">
            <label for="monthlyleaders">Monthly Leaders</label>
          </li>
          <li>
            <input id="chkAlltimeleaders" type="checkbox" name="chkAlltimeleaders" value="">
            <label for="alltimeleaders">All-Time Leaders</label>
          </li>
          <li>
            <input id="chkTopscores" type="checkbox" name="chkTopscores" value="">
            <label for="topscores">Top Scores</label>
          </li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p class="small">&nbsp;</p>
<!--/Login Section-->
<!--List Area-->
<table class="table leaderBoard table-responsive contestHead">
  <thead>
  <tr>
    <th>RANK</th>
    <th width="10%">USER</th>
    <th width="50%">&nbsp;</th>
    <th width="10%">WIN %</th>
    <th width="10%"><span class="green">WINS</span></th>
    <th width="10%"><span class="green">WINNING</span></th>
  </tr>
  </thead>

  <tbody>
  <% 6.times do %>
      <tr class="top-user">
        <td>1</td>
        <td><%= image_tag 'user.png', class: 'user' %></td>
        <td><span class="green">MZambelli_23</span></td>
        <td>0.561%</td>
        <td>42</td>
        <td>$60</td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="next-link green pull-right">NEXT »</div>
<div class="clearfix"></div>
