.designer {
	padding: 30px 30px 100px 30px;

	h1 {
		padding: 0;
		margin: 0;
	}

	h2 {
		margin: 0;
		font-size: 30px;
		text-transform: uppercase;
	}

	.designer-info {
		padding: 25px 0 30px;
		line-height: 1.8;

		p {
			margin: 0 0 2em;
		}

		.designer-pic {
			float: left;
			margin: 0 50px 30px 0;
		}
	}

	.designer-projects {
		padding-top: 40px;

		.designer-project {
			img {
				display: block;
				width: 100%;
			}
		}
	}
}

.designers {
	margin-top: 50px;
    padding-bottom: 50px;

    h1 {
      margin: 0;
      padding: 20px 0;
      text-transform: uppercase;

      font: {
        weight: 900;
        size: 48px;
      }
    }

	p {
		padding-right: 50px;
		line-height: 1.8;
	}	

	.designers-item {
		img {
			display: block;
			width: 100%;
		}
		display: block;
		position: relative;

		.title {
			height: 40px;
			padding-left: 20px;
			padding-top: 50px;
			text-transform: uppercase;
			color: #fff;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;

			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
		}
	}
}