<style type="text/css">
.podbar {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:100px;
    background-color: #000000;
    width: 100%;
}
</style>


<div class="podbar">
     
   <p class="text-center">
 <strong>CIS, Inc.</strong><br>
      INDORE, 452001<br>
  <abbr title="Phone">P:</abbr> (0731) 456-7890<br>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>

</p>
    
    </div> <!-- end footer -->
