<div class="capitalcontent">
    <div class="capitalpopup">
      <div class="popupTitle">
        <h2 class="message"></h2>
        <button type="button" class="btnClose" data-dismiss="modal">X</button>
      </div>
      <div class="popupSubTitle">
      	<h3>Enter this lineup into other contests:</h3>
      </div>

      <div class="contests-container">
      	<table class="contests">
      		<thead>
      			<tr>
	      			<th>GAME</th>
	      			<th>ENTRIES</th>
	      			<th>ENTRY</th>
	      			<th>PRIZES</th>
	      			<th>&nbsp;</th>
	      		</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      			<tr>
      				<td>Daily NBA Freeroll(10*$300K NFL Bomb Entries)</td>
      				<td>560</td>
      				<td>$3</td>
      				<td>$560,00,00</td>
      				<td><a href="#" class="table-btn">Enter</a></td>
      			</tr>
      		</tbody>
      	</table>
      </div>

      <div class="actions-container">
      	<a href="#" data-dismiss="modal" class="green no-thanks">No thanks, go to my lineup »</a>
      	<div class="clear"></div>
      </div>
    </div>
</div>