html, body {
	height: 100%;
	width: 100%;
	font-family: "Roboto"
}


table {
	height: 100%;
	width: 100%;
	font-size: 20px;

	td {
		text-align: center;
		vertical-align: middle;
	}
}

p {
	margin: 0 0 .5em;
}

.logo {
	width: 401px;
	height: 70px;
	margin: 0 auto 2em;

	a {
		display: block;
		height: 100%;
		width: 100%;
		background: image-url('landing/logo.png');
	}
}
