@import 'variables';

table.main-grid > thead > tr > th:hover {
  color: #505E6C;
}

table.main-grid > thead > tr > th {
  border-bottom: none;
}

table.striped-grid > tbody > tr, table.striped-grid > tbody > tr {
  background-color: #f1f4f5;
}

table.striped-grid > tbody > tr:nth-child(odd), table.striped-grid > tbody > tr:nth-child(odd) {
  background-color: #fff;
}

table.main-grid > tbody > tr > td, table.main-grid > tbody > tr > th {
  background-color: #f1f4f5;
}
table.main-grid > tbody > tr:nth-child(odd), table.main-grid > tbody > tr:nth-child(odd) {
  background-color: #fff;
}

table.main-grid {
  th {
    background-color: #fff;
    color: #505e6c;
    font-size: 0.85em;
    border-bottom: none;
    padding: 24px 19px !important;
    cursor: default;
  }
  th .light-gray {
    color: #BCBCBC;
  }
  /*tbody tr:even*/
  /*f1f4f5*/
}

table.main-grid > tbody > tr > td {
  padding: 19px;

  &.actions-column{
    text-align: center;
  }
}

table.main-grid .table-btn {
  color: #fff;
  text-transform: uppercase;
  background-color: $theme-green;
  padding: 7px 20px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  span {
    font-size: 70%;
    color: white;
    vertical-align: top;
    line-height: 18px;
    font-size: 10px;
  }
}
