/*Navigatoin*/
@import 'variables';

.navbar {
  border: none;
  margin-bottom: 0;
}

.navbar-nav-centered {
  text-align: center;
  float: none;
  li {
    float: none;
  }

}

.navbar-static-top {
  background-color: #22272d;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;

  &:hover, &:focus {
    color: #fff;
  }
}

.navbar-collapse {
  padding: 0;
}

.mainMenu {
  background-color: #2E363E;
  height: 50px;
  font-family: $main-font; //'droid_sansregular';
  /*
  background: image-url('nav-bg.png') no-repeat center center;
  */
  background: #505e6c; /* Old browsers */
  background: -moz-linear-gradient(top, #505e6c 0%, #2d353c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505e6c), color-stop(100%,#2d353c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #505e6c 0%,#2d353c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #505e6c 0%,#2d353c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #505e6c 0%,#2d353c 100%); /* IE10+ */
  background: linear-gradient(to bottom, #505e6c 0%,#2d353c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505e6c', endColorstr='#2d353c',GradientType=0 ); /* IE6-9 */


  .line {
    height: 2px;
    width: 15px;
    margin: 0 auto;
    background-color: transparent;
    display: block;
  }

  li {
    /*background-color: #3f4a55;*/
  }

  li.welcome-box {
    text-align: center;
    min-width: 260px;
    background-color: #2e363e;
    float: right;
    line-height: 60px;
    background: #39434d; /* Old browsers */
    background: -moz-linear-gradient(top, #39434d 0%, #21272c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39434d), color-stop(100%,#21272c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #39434d 0%,#21272c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #39434d 0%,#21272c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #39434d 0%,#21272c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #39434d 0%,#21272c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39434d', endColorstr='#21272c',GradientType=0 );
    .welcome-text{
      line-height: 60px;

      a:hover{
        text-decoration: none;
      }
    }

    ul.usermenu{
      position: absolute;
      background: #505E6C;
      right: 0;
      list-style: none;
      padding-left: 0;
      display:none;
      line-height: 35px;

      a:hover{
        text-decoration: none;
      }
    }

    a {
      display: inline-block;
      padding-right: 5px;
      color: white !important;

      &.sign-out{
        width: 100%;
        padding: 0;
        img{
          width: 30px;
        }
        
      }

      &.link{
        padding-right: 0;
        padding-left: 0;
        color: #0FEA6C !important;
      }
    }


    .first-name {
      color: #15E884;
    }
    .arrow {
      color: #0FEA6C;
      font-size: 61%;
      line-height: 46px;
      vertical-align: top;
    }
  }
  .navbar-nav {
    a {
      font-size: 18px;
      text-transform: uppercase;
    }

    li {
      .padding {
        line-height: 60px;
        height: 60px;
        padding: 0 25px;
      }
      .arrow-down {
        display: none;
      }
      &.active {
        .padding {
          background-color: #fff;
          box-shadow: 0 0 3px #000;
          border-bottom: 2px solid #fff;
        }
        top: -2px;

        .arrow-down {
          display: block;
          position: absolute;
          width: 0; 
          height: 0; 
          left: -3px;
          width: 97px;
          height: 26px;
          background-image: image-url("navadd-dropshadow.png");
          z-index: 10;
        }

        .line {
          display:block;
          background-color: #69F1A3;
          margin-top: -15px;
        }

        a {
          background: none;
          color: #3F4A55;
          &:hover{
            background: white;
          }
        }
      }

      a{
        color: #e3eaf0;
      }

    }
  }

  ul{
    width: 100%;
    li {
      &:last-child {
        border-right: none;
      }
    }
  } 
  
}

.capitalnavbar {
  margin: 0
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding: 0 20px;
  }
  .mainMenu .navbar-nav li {
    background: none;
    padding: 0 0px;

    &.active {
      padding: 0
    }
  }

}

.topbarWraper .navbar-nav > li > a {
  padding: 0;

}

.topbarWraper .topbar-nav {
  height: 41px;
  min-height: 0;
}

div.header-close-button {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 13px;
    height: 13px;
    background-image: image-url("header-close-button.png");
    cursor: pointer;
}