<div class="container">
    <div class="row wrapper wrapper-content padding-top-70">
        <div class="col-sm-12 title">
            <h1>Sign In on Jobbi</h1>
        </div>
        <div class="col-sm-offset-h col-sm-5">
            <div class="ibox ibox-custom text-center">
                <div class="ibox-title">
                    <h2>I am an employee</h2>
                    <p>
                        Everything you need to track your success on the job.
                    </p>
                </div>
                <div class="ibox-content">
                    <p>
                        <a class="btn btn-lg btn-success btn-custom-xlg" ui-sref="signin.employee">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center">
            <p class="margin-top-75-sm margin-bottom-20" style="font-size:18px;">or</p>
        </div>
        <div class="col-sm-5">
            <div class="ibox ibox-custom text-center">
                <div class="ibox-title">
                    <h2>I am an employer</h2>
                    <p>
                        Everything you need to track your success on the job.
                    </p>
                </div>
                <div class="ibox-content">
                    <p>
                        <a class="btn btn-lg btn-primary btn-custom-xlg" ui-sref="signin.employer">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <p style="font-size:15px; margin-top:25px;">Do not have an account? <a ui-sref="signup.all">Sign Up</a></p>
        </div>
    </div>
</div>