<div class="container">
    <div class="row wrapper wrapper-content padding-top-70">
        <div class="col-sm-12 title">
            <h1>Payment Reference</h1>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <div class="col-sm-12 ibox ibox-custom">
                <div class="col-sm-12 ibox-content">
                    <form class="m-t" role="form" action="#signup/employer/job_location">
                        <p>
                            Business name: {{business_name}}
                        </p>

                        <div class="form-group">
                            <label class="label-custom">
                                <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 
                                OZ PREFERS PAYMENT VIA CREDIT CARD. YOU WILL BE CHARGED DAILY THE AGREED HOURLY RATE PER WORKER PROVIDED AND APPROVED VIA THE OZ APP 
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="label-custom"> 
                                <input icheck type="radio" name="radioTest" ng-model="main.check8"> 
                                CREDIT CARD ADDRESS SAME AS MAILING ADDRESS
                                <span class="text-red"> <i class="glyphicon glyphicon-chevron-right"></i> NEW ADDRESS DROPS DOWN</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-custom" placeholder="Credit Card Number" required>
                        </div>

                        <div class="form-group input-group date">
                            <input type="datetime" class="form-control input-custom" date-time ng-model="sampleDate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" placeholder="YYYY-MM-DD">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-w-m btn-primary btn-custom margin-top-5">CSV</button>
                            <button type="button" class="btn btn-w-m btn-primary btn-custom margin-top-5">Help</button>
                        </div>

                        <div class="form-group">
                            <label class="label-custom"> 
                                <input icheck type="radio" name="radioTest" ng-model="main.check8"> 
                                FOR CORPORATE ACCOUNTS REQUESTING PAYMENT VIA DAILY ACH DRAW DOWN FROM A BANK ACCOUNT YOU WILL NEED TO COMPLETE AND ONLINE CREDIT APPLICATION AND WE WILL CONTACT YOU BACK WITHIN 24 HOURS WITH APPROVAL.
                            </label>
                        </div>

                        <p>
                            <a class="text-red"><i class="glyphicon glyphicon-chevron-right"></i> ONCE BUTTON IS PRESSED CREDIT APP APPEARS</a>
                        </p>

                        <div class="form-group">
                            <input type="text" class="form-control input-custom" placeholder="Account Number" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-custom" placeholder="Routing Number" required>
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-w-m btn-primary btn-custom">Submit image of voided check here</button>
                        </div>

                        <div class="form-group">
                            <input type="creditcard" class="form-control input-custom" placeholder="Credit Reference 1" required>
                        </div>

                        <div class="form-group">
                            <input type="creditcard" class="form-control input-custom" placeholder="Credit Reference 2" required>
                        </div>

                        <div class="form-group">
                            <input type="creditcard" class="form-control input-custom" placeholder="Credit Reference 3" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-custom" data-mask="9999" placeholder="Year Business Started" ng-model="bs_year" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-custom" placeholder="Type of Company, Corp, LLC, etc" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-custom" placeholder="Party in charge of accounts payable" required>
                        </div>

                        <p>
                            <a class="text-red"><i class="glyphicon glyphicon-chevron-right"></i> MORE INFORMATION TO BE PROVIDED</a>
                        </p>

                        <div class="form-group text-center no-margin">
                            <button type="submit" class="btn btn-lg btn-success btn-custom-xlg margin-top-10">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>