<fieldset>
    <h2>My work preferences</h2>
    
    <div class="row wrapper wrapper-content">

        <div class="form-group">
          <p>
            Please complete the following questions to find the perfect match
          </p>
        </div>

        <div class="form-group">
          <label>What type of work are you seeking?</label>

          <select class="form-control m-b" name="sel_ethnicity" id="sel_ethnicity" ng-model="data.sel_ethnicity">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
        </div>

        <div class="form-group">
          <label>Positions interested in...</label>

          <select class="form-control m-b" name="sel_ethnicity" id="sel_ethnicity" ng-model="data.sel_ethnicity">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>

          <p ng-show="form.selDisability.$invalid && !form.selDisability.$pristine" class="my-help-block">    Position is required.</p>
        </div>

        <div class="form-group">
          <label>Can you lift 50 punds over your head?</label>
          
          <div class="col-sm-12">
              <span style="vertical-align:middle;">No</span>
            
              <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="main.checkOne"/>
            
              <span style="vertical-align:middle;">Yes</span>
            
          </div>
        </div>


        <div class="form-group">
          <label>Are you legally able to work in the US?</label>
          
          <div class="col-sm-12">
              <span style="vertical-align:middle;">No</span>
            
              <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="main.checkOne"/>
            
              <span style="vertical-align:middle;">Yes</span>
            
          </div>
        </div>

    </div>
    <a ui-sref="settings.register_wizard.step_three" class="btn btn-default">Previous</a>
    <a ui-sref="settings.register_wizard.step_five" class="btn btn-primary">Continue</a>
</fieldset>