<fieldset>
    <h2>Ethnicity &amp; Disability</h2>
    
    <div class="row wrapper wrapper-content">

        <div><p>
            Just a few more questions to help you find the best job opportunity
          </p></div>

        <div class="form-group" ng-class="{ 'has-error' : form.sel_ethnicity.$invalid && !form.sel_ethnicity.$pristine }">
          <label>What is your ethnicity?</label>

          <select class="form-control m-b" name="sel_ethnicity" id="sel_ethnicity" ng-model="data.sel_ethnicity">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
          

          <p ng-show="form.sel_ethnicity.$invalid && !form.sel_ethnicity.$pristine" class="help-block">Ethnicity is required.</p>

        </div>

        <div class="form-group">
          <label>Check of the disabilities that apply to you</label>

          <select class="form-control m-b" name="sel_disability" id="sel_disability" ng-model="data.sel_disability">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>

          <p ng-show="form.sel_disability.$invalid && !form.sel_disability.$pristine" class="my-help-block">  Disability is required.</p>
        </div>

        <div class="form-group">
          <label>Are you male or female?</label>

          <select class="form-control m-b" name="sel_sex" id="sel_sex" ng-model="data.sel_sex" style="width: 100%; height: 40px;" required>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
          
          <p ng-show="form.sel_sex.$invalid && !form.sel_sex.$pristine" class="my-help-block">Sex is required.</p>
        </div>


    </div>
    <a ui-sref="settings.register_wizard.step_two" class="btn btn-default">Previous</a>
    <a ui-sref="settings.register_wizard.step_four" class="btn btn-primary">Continue</a>
</fieldset>