<fieldset>
    <h2>Driver's License</h2>

    <div class="row wrapper wrapper-content">

        <div class="form-group">
          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
          <input type="file" nv-file-select="" uploader="uploader" required/>
        </div>

        <div><label> 
              <input type="checkbox" ng-model="is_agree" ng-value="name" id="{{name}}" name="favorite" required>
              I agree to <a>terms of service</a>
            </label></div>
        
        <div class="form-group">
          <p>Take a photo of your driver's license or any government issued identification</p>
        </div>

        <div class="form-group">
          <a>Please make sure all details are clear</a>
        </div>

    </div>
    <a ui-sref="settings.register_wizard.step_one" class="btn btn-default">Previous</a>
    <a ui-sref="settings.register_wizard.step_three" class="btn btn-primary">Take Photo</a>
</fieldset>