<div ng-controller="HeaderCtrl" class="header">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <a href="/">
      <img src="assets/images/logo.png" class="logo">
    </a>
    <div class="search" style="display: inline-block;">
      <span class="glyphicon glyphicon-search"></span>
      <input placeholder="Search Here ex: MOCAD">
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6 link">
    <a href="/submit-event" >
      Submit Your Event
    </a>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6 link">
    <a href="/faq">
      FAQ
    </a>
  </div>
</div>