<script type="text/html" data-view="goods-empty"></script>

<script type="text/html" data-view="goods">
  <div class="showroom-items" data-type="goods" data-showroom="wrap"></div>
</script>

<script type="text/html" data-view="good">
  <a href="<%%= url %>" class="showroom-item" data-showroom="item">
    <div class="showroom-item-pic">
      <img src="<%%= picture %>"/>
    </div>

    <div class="showroom-item-mask">
      <div class="showroom-item-logo">
        <table>
          <tr>
            <td>
              <img src="<%%= logo %>"/>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </a>
</script>