.form-register {
   input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 0px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    button{
        margin-top: 10px;
    }
    .checkbox{
        margin-left: 20px;
    }
}

