<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Setup Payroll</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Settings</a>
            </li>
            <li class="active">
                <strong>Payroll</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">

<div class="col-lg-12">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Setup payroll</h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <h3>
            Select payment preference
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="text-center">
                        <div class="m-b-sm">
                            <img alt="image" src="img/ic_bankaccount.png">
                        </div>
                        <p class="font-bold">BANK ACCOUNT</p>

                        <!-- <div class="text-center">
                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                            <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-md-1 text-center">
                    OR
                </div> -->
                <div class="col-md-3">
                    <div class="text-center">

                        <div class="m-b-sm">
                            <img alt="image" src="img/ic_jobbicard.png">
                        </div>
                        <p class="font-bold">JOBBICARD</p>

                        <!-- <div class="text-center">
                            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                            <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <P>
                    Payment is issued daily - (<strong>Monday - Friday</strong> after completion of shift (requires 24 hours to process))
                </P>
            </div>

            <form class="col-md-12" role="form">
                <div class="form-group">
                    <label>Name on Account</label> 
                    <input type="text" placeholder="John Doe" class="form-control">
                </div>

                <div class="form-group">
                    <label>Account Number</label> 
                    <input type="number" class="form-control">
                </div>

                <div class="form-group">
                    <label>Routing Number</label> 
                    <input type="number" class="form-control">
                </div>
            </form>

            <div class="col-md-12">
                <P>
                    Submit image of voided check below
                </P>
            </div>

        </div>
        
        <a ui-sref="settings.uploadresume" class="btn btn-primary">Take Photo of Check</a>
    
    </div>

</div>

</div>
</div>
</div>