<a md-button color="primary" [routerLink]="menu.path" class="link" routerLinkActive="active">
  {{menu.title}}
</a>



  <!--'<md-button ng-class="{\'{{section.icon}}\' : true}" ui-sref-active="active" \n' +-->
<!--'  ui-sref="{{section.state}}" ng-click="focusSection()">\n' +-->
<!--'  {{section | humanizeDoc}}\n' +-->
<!--'  <span  class="md-visually-hidden "\n' +-->
<!--'    ng-if="isSelected()">\n' +-->
<!--'    current page\n' +-->
<!--'  </span>\n' +-->
<!--'</md-button>\n' +-->
<!--'');-->
<!--}])-->
