<footer<%= ' class=absolute' if absolute %>>
	<ul class="foot-icons">
      <% if false %>
		<li>
			<a href="#">
				<i class="social pinterest"></i>
			</a>
		</li>

          <li>
            <a href="#">
              <i class="social twitter"></i>
            </a>
          </li>
      <% end %>

		<li>
			<a style="display: inline-block;" href="https://www.facebook.com/lllooch">
				<i class="social facebook"></i>
			</a>
      <a style="display: inline-block;" href="https://www.instagram.com/lllooch">
        <i class="social instagram"></i>
      </a>
		</li>
	</ul>
</footer>