.block-center.mt-xl.wd-xl(ng-controller="RegisterFormController as reg")
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(ui-sref="page.login")
        img#logo.block-center(src='app/img/logo.svg', alt='Komae Logo')
    .panel-body
      p.text-center.pv CREATE A NEW PASSWORD
      form.form-validate.mb-lg(role='form', name="reg.registerForm", novalidate='', ng-submit="reg.register()")
        .form-group.has-feedback
          label.text-muted Password
          input#id-password.form-control(type='password', name="account_password", ng-model="reg.register.password", ng-pattern="/^[a-zA-Z0-9]{6,10}$/", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="reg.registerForm.account_password.$dirty && reg.registerForm.account_password.$error.required") This field is required
          span.text-danger(ng-show="reg.registerForm.account_password.$dirty && reg.registerForm.account_password.$error.pattern") Input should match 'a-zA-Z0-9' and 6-10 length
        .form-group.has-feedback
          label.text-muted Retype Password
          input.form-control(type='password', name="account_password_confirm", ng-model="reg.register.account_password_confirm", ui-validate="'$value==reg.register.password'" ui-validate-watch="'password'")
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="reg.registerForm.account_password_confirm.$dirty && reg.registerForm.account_password_confirm.$error.validator") Password does not match
        .clearfix
        
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Change password
      
      .alert.alert-danger.text-center(ng-show='reg.authMsg') {{reg.authMsg}}

  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")

