<!-- template table for dynamic row creation in gamecenter... don't delete -->

<table class="" cellpadding="10" cellspacing="10">
  <tbody> <!-- filled in via ajax -->
  <tr class="lineup-row-template">
    <td><h1 class="role">XX</h1></td>
    <td><strong class="player-name">First Last</strong>

      <p class="player-score">
        <strong>POR</strong> 109 @ <strong>MIN</strong> 120 FINAL
      </p>
      <p class="player-record-row">
          <span class="player-record">
            99 P, 0 R, 0 A, 0 S, 0 B, 0 T
          </span>
      </p>
    </td>
    <td>
      $<span class="salary">79</span> <br>
      SALARY
    </td>
    <td>27.5% <br>
      OWNED
    </td>
    <td><h1 class="score">57.2</h1></td>
  </tr>
  </tbody>
</table>

