<h2>SCORING/RULES/FAQS</h2>
<h3 class="panel-group-title">Scoring</h3>
<div class="panel-group fc-panel" id="scoring_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#football">
          Football
        </a>
      </h4>
    </div>
    <div id="football" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#baseball" class="collapsed">
          Baseball
        </a>
      </h4>
    </div>
    <div id="baseball" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#basketball" class="collapsed">
          Basketball
        </a>
      </h4>
    </div>
    <div id="basketball" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#hockey" class="collapsed">
          Hockey
        </a>
      </h4>
    </div>
    <div id="hockey" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!--

        RULES

-->
<h3 class="panel-group-title">Rules</h3>
<div class="panel-group-intro">
  In addition to our <a href="#" class="green">Terms & Conditions</a> contests as Fantasy Capital are governed by the following set of ruls:
</div>
<div class="panel-group fc-panel" id="rules_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#eligibility" class="collapsed">
          Eligibility
        </a>
      </h4>
    </div>
    <div id="eligibility" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must 18 years of age or over and a resident of the USA or Canada to make a deposit or play in any Fantasy Capital contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisiana, Montana or Washington, you cannot play Fantasy Capital for real money. For further information regarding eligibility, please consult our official Terms & Conditions.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#multiple_accounts" class="collapsed">
          Multiple Accounts
        </a>
      </h4>
    </div>
    <div id="multiple_accounts" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Each player on Fantasy Capital is only allowed one account. Penalties for having more than one account are at the discretion of Fantasy Capital staff, but may include closure of all accounts and withholding of any cash that we determine to have been fraudulently obtained.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#suspended_accounts" class="collapsed">
          Suspended Accounts
        </a>
      </h4>
    </div>
    <div id="suspended_accounts" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          There are a variety of behaviors that are detrimental to Fantasy Capital and other players on the site. Engaging in those behaviors may result in suspension of your account. Suspended players are expected to respect the disciplinary actions imposed on their accounts and all communication regarding restoration of your account should take place via the support@Fantasy Capital.com email account.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#user_names" class="collapsed">
          User Names
        </a>
      </h4>
    </div>
    <div id="user_names" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Fantasy Capital may require users to change their user names in cases where the name is offensive or promotes a commercial venture. The requirement to change will be determined at Fantasy Capital’s sole discretion, and if requests are ignored, Fantasy Capital may unilaterally change a player’s user name.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#unfiled_contests" class="collapsed">
          Unfiled Contests
        </a>
      </h4>
    </div>
    <div id="unfiled_contests" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          All guaranteed contests that are conducted on Fantasy Capital have a guaranteed prize (or prizes) regardless of the number of entrants. These tournaments will always pay the same amount to the winner whether it is a busy week or a slow one. Some structured contests, however, require a specified number of participants. If that number of participants is not reached before the start of the contest, the contest will not take place and your entrance fee will be refunded. For example, a 10-person 50/50 contest will not be conducted with only 9 interested participants.

        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#canceling_entries" class="collapsed">
          Canceling Entries
        </a>
      </h4>
    </div>
    <div id="canceling_entries" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Users may cancel entries by clicking on the ‘cancel entry’ link located at the bottom of your entry on the edit roster page. You may cancel your entry for any contest that is unfilled. Fantasy Capital will not accommodate cancellation requests for entries in filled contests.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#postponed_games" class="collapsed">
          Postponed Games
        </a>
      </h4>
    </div>
    <div id="postponed_games" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Rules for how postponed games are treated in Fantasy Capital contests vary depending on the sport and contest type. For NFL contests, you will receive points for any postponed games that are played no later than Wednesday of that week. For one day MLB contests, if the postponed game is played on the same day then you will receive points for your players in those games as normal. If a game is postponed to a later date or called off for any reason, any players you have selected for that game will receive zero points. For one day NBA and NHL contests, you will receive points for any postponed games that are played no later than the next day. If game cancellations and/or postponements mean there is only one game left in a contest, then the contest will be canceled and all entry fees will be refunded. If game cancellations and/or postponements mean that there are only two games left in a contest, then the contest may be canceled at Fantasy Capital's discretion. In the event that this happens, all entry fees will be refunded. NOTE: A game will be considered to be 'played' on a given day if it begins on that day and is completed no later than 6am Eastern on the following day.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#suspended_games" class="collapsed">
          Suspended Games
        </a>
      </h4>
    </div>
    <div id="suspended_games" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Rules for how suspended games are treated vary depending on the sport and game type. A game is considered suspended if it is unfinished, but to be completed in the future. At a minimum, the statistics compiled prior to the end of the contest period will count towards contests. For a suspended NFL game, you will receive points for the remainder of the game if it is played no later than Wednesday of that week. For one day MLB contests, if the game is suspended until a future date, points accumulated in the remainder of the game will not count towards contests. For one day NBA and NHL contests, you will receive the remainder of points accumulate for any suspended games that are played no later than the next day.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#traded_players" class="collapsed">
          Traded Players
        </a>
      </h4>
    </div>
    <div id="traded_players" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Players being traded may impact contests that have already been created with the players on their old teams. Player team listings on Fantasy Capital are updated once per day (overnight). Note that because contests are created as much as five or six days in advance, traded players may not be available in contests which include a game involving their new team, but not their old team. Also note that in some instances a player you selected may no longer be available in a contest which includes their old team, but not their new team. In that case, you'll need to select a replacement or be credited with zero points for the player.   Note that on the day a player is traded, they may still be listed for their old team in the draft screen. If they are traded to another team which is part of the same contest in which you choose them, you will still receive points for their performance. These points may not be reflected accurately during live scoring, but will count at contest settlement time. Also note that contest settlement may be delayed in order to ensure accuracy.   Most importantly, please note that in very rare cases a player is traded early enough in the day that they are able to play for their new team. If they are traded from a team with a late game to a team with an early game, you may be able to select them in late contests, already knowing how they performed that day. In this situation, you will receive zero points for their performance.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#double_headers" class="collapsed">
          Double Headers
        </a>
      </h4>
    </div>
    <div id="double_headers" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Only one game of a doubleheader will count for Fantasy Capital scoring. Players will only score points for the game which starts at the time listed in the contest details. This will typically (but not always) be the game at the originally scheduled time.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#lineup_restrictions" class="collapsed">
          Lineup Restrictions
        </a>
      </h4>
    </div>
    <div id="lineup_restrictions" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          In addition to the salary cap, there are two restrictions governing the mix of players allowed in your lineup for Fantasy Capital contests. The first is that you must pick players from at least three different teams. The second is that you may not pick more than four players from the same team. The site will prevent you from saving a lineup that would violate either of these restrictions.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#withdrawals" class="collapsed">
          Withdrawals
        </a>
      </h4>
    </div>
    <div id="withdrawals" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You can withdraw your money at any time. For Stripe withdrawals, simply click the Withdraw link on the My Account tab and enter the amount you wish to withdraw, along with a valid account. Stripe requests will be processed within 48 hours. We also offer check withdrawals, which take 7-10 days to process. For Check withdrawals, Submit a ticket detailing the amount you wish to withdraw and your mailing address. For check withdrawals over $250 we require a valid mailing address and social security number in order to file the appropriate tax forms at year end. We also conduct anti-fraud checks on playing patterns and deposits prior to processing a withdrawal.   In cases where a site user has received a bonus or other benefits as a result of their deposit and has not yet played through the deposit (entering contests whose total entry fees equal the value of the deposit), Fantasy Capital reserves the right to refuse the withdrawal and/or close the user's account.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#deposits" class="collapsed">
          Deposits
        </a>
      </h4>
    </div>
    <div id="deposits" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You may deposit money into your Fantasy Capital account using a credit card or bank account through Stripe. If you're having any problems depositing money then get in touch and we'll deal with the issue as soon possible.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#contest_settlement_and_payout" class="collapsed">
          Contest Settlement and Payout
        </a>
      </h4>
    </div>
    <div id="contest_settlement_and_payout" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          We try to settle contests and run payments as quickly as possible, but must ensure we do so accurately. Most contests are settled shortly after the last game finishes. However, to settle we have to wait until all the player statistics have been reported by our third party stats provider. This lets us ensure that the final box scores are complete. Please note there can sometimes be last minute changes. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#scoring_revisions" class="collapsed">
          Scoring Revisions
        </a>
      </h4>
    </div>
    <div id="scoring_revisions" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          During the game we receive live scoring from our stats provider, SportsData LLC. After the game has ended they pass us a final box score for the game. After we receive and confirm the box scores for all the day's games we then settle all entries. However, very rarely, the leagues and stats provider revise the box scores after the final box score has been released. In the event of this occurring the player scores on Fantasy Capital will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a problem with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and games resettled correctly.
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#site_access_and_editing_problems" class="collapsed">
          Site Access and Editing Problems
        </a>
      </h4>
    </div>
    <div id="site_access_and_editing_problems" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          While we do our best to ensure that Fantasy Capital is functioning smoothly at all times, like any website we may periodically experience periods of outage or slow performance on the site. These can sometimes result in an inability to access the site, problems editing lineups, or problems entering new contests. If you're unable to access the site, please report the problems by emailing us at support@Fantasy Capital.com. If there are sustained periods where players are unable to access site functionality, or otherwise prevented from editing lineups, we may provide instructions on how to cancel your entries over email prior to game time.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#contest_cancellation" class="collapsed">
          Contest Cancellation
        </a>
      </h4>
    </div>
    <div id="contest_cancellation" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          Fantasy Capital also reserves that right to cancel contests at our discretion, without any restrictions. This would typically be done only in cases where we believe that due to problems on the site or events impacting the sporting events, there would be a widespread impact on the integrity of contests.
        </div>
      </div>
    </div>
  </div>

</div>
<!--

    FAQS

-->
<h3 class="panel-group-title">Faqs</h3>
<div class="panel-group-intro">Basics</div>
<div class="panel-group fc-panel" id="faqs_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_access" class="collapsed">
          Can I access FantasyCapital through my phone or tablet?
        </a>
      </h4>
    </div>
    <div id="faq_access" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_why_pay" class="collapsed">
          I thought FantasyCapital was free. Why was I asked to pay?
        </a>
      </h4>
    </div>
    <div id="faq_why_pay" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_tax" class="collapsed">
          Do I have to pay taxes on my winnings?
        </a>
      </h4>
    </div>
    <div id="faq_tax" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_username" class="collapsed">
          Can I change my user name?
        </a>
      </h4>
    </div>
    <div id="faq_username" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_delete_account" class="collapsed">
          How do I delete my account?
        </a>
      </h4>
    </div>
    <div id="faq_delete_account" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_pay_to" class="collapsed">
          Who can I play?
        </a>
      </h4>
    </div>
    <div id="faq_pay_to" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

</div>

